// Colors
$primary: #461e7d;
$secondary: #fd6600;
$complementary: #5738ff;
$black: #000000;
$white: #ffffff;
$fontBlack: "Avenir-Black", Arial, Helvetica, sans-serif;
$font: "Avenir-Light", Arial, Helvetica, sans-serif;
$fontSale: "Avenir-Black", Arial, Helvetica, sans-serif;
$fontSizeBase: 1.125rem;
$boilerDesc: 1rem;
$boilerDescWidth: 14.625rem;
$boilerDescLine: 1.25rem;
$prezzoFont: 1.5rem;
$prezzoPreScontoColor: #b2b2b2;
$prezzoPreScontoSize: 1rem;
$starsSize: 0.813rem;
$noteSize: 0.813rem;
$confrontaColor: #0000004d;
$confrontaSize: 0.75rem;
$categorieFontSize: 1rem;
$categorieH4FontSize: 0.938rem;
$heightBoxCategorie: 50rem;
$saleFontSize: 0.75rem;
$cuoreVuoto: #00000033;
$cuorePieno: red;

@import "./fonts.scss";

// CSS BELOW
body {
  background-color: $white;
  font-family: $font;
  padding-top: 200px;
}

h3 {
  font-family: $font;
}

.boilerCard {
  position: relative;
  background: $white;
  margin-bottom: 3rem;
}

.confronta {
  color: $confrontaColor;
  font-family: $fontBlack;
  font-size: $confrontaSize;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
}

button:disabled {
  border: 2px solid gray;
  color: gray;
}

.categorie {
  border-bottom: 1px solid #0000001a;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.categorie ul li {
  list-style-type: none;
}

.categorie h3 {
  font-family: $fontBlack;
  font-size: $categorieFontSize;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.filtriCategorie h3 {
  font-family: $fontBlack;
  font-size: $categorieFontSize;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.boxCategorie {
  border-right: 1px solid #0000001a;
  min-height: 100%;
}

.categorie h4 {
  color: $complementary;
  font-size: $categorieH4FontSize;
}

.stars {
  font-size: $starsSize;
  color: $primary;
}

.boilerDesc {
  font-size: $boilerDesc;
  width: $boilerDescWidth;
  line-height: $boilerDescLine;
  margin-top: 5px;
  margin-bottom: 10px;
}

.boilerBrand {
  font-family: $fontBlack;
  letter-spacing: 0.6px;
  color: $black;
  font-size: $fontSizeBase;
}

.prezzoPreSconto {
  text-decoration: line-through;
  color: $prezzoPreScontoColor;
  font-family: $fontBlack;
  font-size: $prezzoPreScontoSize;
}

.prezzo {
  color: $primary;
  font-family: $fontBlack;
  font-size: $prezzoFont;
}

.note {
  color: $primary;
  font-size: $noteSize;
  font-family: $fontBlack;
}

.prezzoSconto {
  color: $secondary;
}

.noteSconto {
  color: $secondary;
}

.fa-chevron-left::before {
  font-size: 13px;
  margin-right: 5px;
}

.fa-chevron-right::before {
  font-size: 13px;
  margin-left: 5px;
}

.singleNumber.current {
  background: $complementary;
  border-radius: 50%;
  color: #fff;
  padding: 10px 15px 10px 15px;
}

.prev {
  color: gray;
}

.singleNumber {
  padding: 10px 15px 10px 15px;
}

.ordina {
  color: $complementary;
}

.next {
  color: $complementary;
}

.fa-chevron-down::before {
  font-size: 13px;
  margin-left: 5px;
}

.boilerData {
  margin-top: 10px;
}

.boilerCard img {
  width: 100%;
  background: #f7f7f7;
  position: relative;
}

.sale {
  background: $secondary;
  border-radius: 0px 3px 3px 0px;
  font-size: $saleFontSize;
  padding: 5px;
  text-align: left;
  font-family: $fontSale;
  letter-spacing: 0px;
  color: $white;
  position: absolute;
  top: 10px;
  z-index: 1;
}

.wishlist {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.confrontaAlert {
  background: $complementary 0% 0% no-repeat padding-box;
  box-shadow: 0px -2px 10px #0000001a;
  height: 4.063rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding-left: 2rem;
}

.confrontaAlertAnimation {
  transition: all 0.6s ease;
}

.testoConfronta {
  color: $white;
  font-size: 1.25rem;
}

.buttonConfronta {
  background: transparent;
  border: 2px solid white;
  color: #fff;
  width: 10.125rem;
  height: 2.813rem;
  border-radius: 1.563rem;
  position: absolute;
  right: 2rem;
  top: 0.625rem;
}

input[type="checkbox"]:checked {
  -webkit-appearance: none;
  background-color: $complementary;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: $white;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.form-check-input[type="checkbox"] {
  border-radius: 0;
  border-color: #0000001a;
  vertical-align: bottom;
}

input:focus {
  background-color: $white;
  border: none;
}

// cuore vuoto
.far.fa-heart {
  color: $cuoreVuoto;
  cursor: pointer;
}

// cuore pieno
.fas.fa-heart {
  color: $cuorePieno;
  cursor: pointer;
}

.fas.fa-heart {
  animation: fa-beat 5s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.50);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.50);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.50);
  }
  70% {
    transform: scale(1);
  }
}
