// Colors
$primary: #461e7d;
$secondary: #fd6600;
$complementary: #5738ff;
$black: #000000;
$white: #ffffff;
$fontBlack: "Avenir-Black", Arial, Helvetica, sans-serif;
$font: "Avenir-Light", Arial, Helvetica, sans-serif;
$fontSale: "Avenir-Light", Arial, Helvetica, sans-serif;
$fontSizeBase: 18px;
$boilerCardWidth: 291px;
$boilerCardHeight: 180px;
$boilerDesc: 17px;
$boilerDescWidth: 234px;
$boilerDescLine: 20px;
$prezzoFont: 24px;
$prezzoPreScontoColor: #b2b2b2;
$prezzoPreScontoSize: 18px;
$starsSize: 13px;
$noteSize: 13px;
$confrontaColor: #0000004D;
$confrontaSize: 12px;


@import "./fonts.scss";

// CSS BELOW
body {
  background-color: $white;
  font-family: $font;
  padding-top: 200px;
}


h3 {
  font-family: $font;
}

.boilerCard {
  width: $boilerCardWidth;
  height: $boilerCardHeight;
  position: relative;
  background: $white;
}

.note {
  color: $secondary;
  font-size: $noteSize;
  font-family: $fontBlack;
}

.form-check-input label:after {
  content: '';
  display: table;
  clear: both;
}

.form-check-input .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.form-check-input .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.form-check-input label input[type="checkbox"] {
  display: none;
}

.form-check-input label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.form-check-input label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.form-check-input label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

.confronta {
  color: $confrontaColor;
  font-family: $fontBlack;
  font-size: $confrontaSize;
  text-transform: uppercase;
  float: right;
}

.stars {
  font-size: $starsSize;
}

.boilerDesc {
  font-size: $boilerDesc;
  width: $boilerDescWidth;
  line-height: $boilerDescLine;
  margin-top: 5px;
  margin-bottom: 10px;
}

.boilerBrand {
  font-family: $fontBlack;
  letter-spacing: 0.6px;
  color: $black;
  font-size: $fontSizeBase;
}

.prezzoPreSconto {
  text-decoration: line-through;
  color: $prezzoPreScontoColor;
  font-family: $fontBlack;
  font-size: $prezzoPreScontoSize;
}

.prezzo {
  color: $secondary;
  font-family: $fontBlack;
  font-size: $prezzoFont;
}

.boilerData {
  margin-top: 10px;
}

.boilerCard img {
  width: 291px;
  height: 180px;
  background: #f7f7f7;
  position: relative;
}

.sale {
  background: $secondary;
  border-radius: 0px 3px 3px 0px;
  padding: 5px;
  text-align: left;
  font-family: $fontSale;
  letter-spacing: 0px;
  color: $white;
  position: absolute;
  top: 10px;
  z-index: 1;
}

.wishlist {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
