// Colors
$primary: #461e7d;
$secondary: #fd6600;
$complementary: #5738ff;
$black: #000000;
$white: #ffffff;
$font: "Avenir-Black", Arial, Helvetica, sans-serif;

@import "./fonts.scss";

// CSS BELOW
body {
  background-color: $white;
  font-family: $font;
}

h3 {
  font-family: $font;
}
